body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
		"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.app {
	flex-wrap: wrap;
	display: flex;
	flex-direction: column-reverse;
	width: 500px;
	height: 500px;
	position: relative;
}

.row {
	display: flex;
}
.row:nth-child(even) {
	flex-direction: row-reverse;
}
.app img {
	position: absolute;
	inset: 0;
	max-width: 100%;
	object-fit: contain;
	z-index: 1;
}

.cell {
	width: 50px;
	height: 50px;
	outline: 1px solid black;
}

.coin {
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: brown;
	transform: translate(25px, 25px) translate(-50%, -50%);
	transition: inset 0.3s ease;
	z-index: 5;
}

.coin:nth-child(102) {
	background-color: teal;
}

.coin:nth-child(103) {
	background-color: rgb(46, 27, 212);
}

.coin:nth-child(104) {
	background-color: rgb(14, 199, 7);
}
